@media screen and (max-width: 700px){
    #container{
        margin-top: 5vh;
        padding: 2rem;
        width: 100%;
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        grid-template-areas:none;
        height: 100vh;
        
                         
    }
    .wideone, .widetwo, .narrowone, .narrowtwo, .long{
        grid-column: auto;
    grid-row: auto;
    }
    .long{
        order: 5;
    }
 }